@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


*
    margin: 0
    padding: 0
    box-sizing: border-box
    font-size: 10px
    font-family: 'Roboto', sans-serif

.keyboard
    width: 91rem
    display: grid
    grid-gap: 1px
    padding: 1rem
    background-color: #ccd1d6
    justify-content: center
    align-items: center
    margin: 0 auto
    border-radius: 1rem

.keyboard__row
    display: grid
    grid-gap: 1px
    width: 89rem
    grid-auto-flow: column
    justify-items: stretch

.keyboard__key
    background-color: #fff
    border-radius: 5px
    min-height: 5rem
    text-align: center
    cursor: pointer
    margin: 0.2rem
    border: 0px solid
    box-shadow: 1px 1px 1px #868689
    font-size: 1.7rem
    font-weight: 400
    position: relative
    &:first-child, &:last-child
        background-color: #a3abb6
    &:hover
        background-color: #d6dbe2
    &:active
        background-color: #007aff

.key_ArrowUp, .key_ArrowLeft, .key_ArrowDown, .key_ArrowRight
    border: 2px solid #a3abb6
    
.key_Space
     grid-column: span 5
     background-color: #a3abb6
        
.hidden
    display: none

textarea
    display: block
    width: 91rem
    height: 170px
    margin: 20px auto
    border-radius: 1rem
    background-color: #f5f5f5
    color: #333
    font-size: 2rem
    padding: 15px
    resize: none
    overflow: hidden

p
    font-size: 1.5rem
    font-weight: 400
    margin-top: 2rem
    text-align: center

.key_CapsLock::after 
    content: ''
    top: 7px
    left: 7px
    position: absolute
    width: 8px
    height: 8px
    background: rgba(0, 0, 0, 0.4)
    border-radius: 50%

.key_CapsLock--active::after 
     background: #08ff00
